[submodule "vim/pack/packages/start/vim-repeat"]
	path = vim/pack/packages/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/packages/start/nerdcommenter"]
	path = vim/pack/packages/opt/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/pack/packages/start/nerdtree"]
	path = vim/pack/packages/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/packages/start/vim-devicons"]
	path = vim/pack/packages/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/pack/packages/opt/molokai"]
	path = vim/pack/packages/opt/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/pack/packages/opt/nerdtree-git-plugin"]
	path = vim/pack/packages/opt/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/pack/packages/start/fzf"]
	path = vim/pack/packages/start/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "vim/pack/packages/start/vim-surround"]
	path = vim/pack/packages/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/packages/start/fzf.vim"]
	path = vim/pack/packages/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/pack/packages/opt/gruvbox"]
	path = vim/pack/packages/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "vim/pack/packages/start/vim-airline"]
	path = vim/pack/packages/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/packages/opt/vim-graphql"]
	path = vim/pack/packages/opt/vim-graphql
	url = git@github.com:jparise/vim-graphql.git
[submodule "vim/pack/packages/opt/vim-pasta"]
	path = vim/pack/packages/opt/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "vim/pack/packages/opt/vim-exchange"]
	path = vim/pack/packages/opt/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vim/pack/packages/start/coc.nvim"]
	path = vim/pack/packages/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "vim/pack/packages/opt/vim-fugitive"]
	path = vim/pack/packages/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/packages/opt/vim-startify"]
	path = vim/pack/packages/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
