set surround
set vim-multiple-cursors
set visualbell
set noerrorbells
set scrolloff=3         " 3 lines above/below cursor when scrolling
let mapleader = " "
" key bindings for quickly moving between windows
" h left, l right, k up, j down
nmap <c-h> <c-w>h
nmap <c-l> <c-w>l
nmap <c-k> <c-w>k
nmap <c-j> <c-w>j

nmap <c-S-l> :action MoveTabRight<cr>
nmap <c-S-h> :action MoveEditorToOppositeTabGroup<cr>

nmap <leader>w :action CloseEditor<cr>
nmap <leader>T :action ReopenClosedTab<cr>

nmap <leader>l :action NextTab<cr>
nmap <leader>h :action PreviousTab<cr>

nmap <leader>j :action Back<cr>
nmap <leader>k :action Forward<cr>
nmap <leader>1 :action HideAllWindows<cr>

nmap <leader>r :action RefactoringMenu<cr>
vmap <leader>r :action RefactoringMenu<cr>
nmap <leader>f :action ReformatCode<cr>
nmap <leader>t :action RunClass<cr>
nmap <leader><leader> :action RecentFiles<cr>
nmap <leader>o :action GotoFile<cr>
nmap <leader>ns :action GotoSymbol<cr>
nmap <leader>b :action GotoDeclaration<cr>
nmap <leader>e :action GotoNextError<cr>
nmap <leader>nm :action FileStructurePopup<cr>
nmap <leader>d :action ShowErrorDescription<cr>
nmap <leader>a :action GotoAction<cr>

nmap <leader>r :action RefactoringMenu<cr>


" Won't work in visual mode (with visual map) for some reason.
nmap <leader>c<space> :action CommentByLineComment<cr>
